body, html {
    height: 100%;
}
.bg {
    background-image: url("https://www.wallpapertip.com/wmimgs/11-117994_light-purple-background.jpg");
    height: auto;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}